.reviews {
	display: grid;
	grid-template-columns: [start] auto 1fr auto auto [end];
	align-items: center;
	gap: 10px;
	margin: 20px 0;
	font-size: 14px;
	line-height: 24px;
}

.user {
	width: 35px;
	height: 35px;
	color: var(--primary);
}

.description {
	grid-column: start / end;
}

.date {
	margin-right: 10px;
}

.rating {

}

.name {
	font-weight: bold;
	margin-right: 5px;
}

@media screen and (max-width: 640px) {
	.reviews {
		grid-template-columns: [start] 30px [titlestart] auto [dateend] 1fr [end];
	}

	.title {
		grid-column: titlestart / end;
	}

	.date {
		grid-column: start / dateend;
	}
}

@media screen and (max-width: 480px) {
	.date {
		grid-column: start / end;
	}

	.rating{
		grid-column: start / end;
	}
}