.product {
	display: grid;
	padding: 30px;
	grid-template-columns:
		[start] 70px [logoend] 30px [titlestart] calc(50% - 100px)
		[middle] 1fr [pricestart] auto [priceend] 40px
		[creditstart] auto [creditend] 40px [ratestart] auto [end];
	margin-top: 30px;
}

.logo {
	grid-column: start / logoend;
	grid-row: 1 / span 2;
}

.title, .tags {
	grid-column: titlestart / middle;
}

.price, .priceTitle {
	grid-column: pricestart / priceend;
}

.credit, .creditTitle {
	grid-column: creditstart / creditend;
}

.rating, .rateTitle {
	grid-column: ratestart / end;
	white-space: nowrap;
}

.hr, .description, .actions {
	grid-column: start / end;
}

.features {
	grid-column: start / middle;
}

.advBlock {
	grid-column: middle / end;
}

.logo img {
	border-radius: 5px;
}

.title {
	font-weight: 600;
	font-size: 20px;
	line-height: 27px;
	align-self: end;
}

.price, .credit {
	font-size: 20px;
	align-self: end;
	line-height: 27px;
}

.credit span {
	font-size: 14px;
	line-height: 19px;
}

.rating {
	align-self: flex-end;
}

.description {
	margin-bottom: 15px;
}

.priceTitle, .creditTitle, .rateTitle {
	font-weight: 300;
	font-size: 14px;
	line-height: 19px;
}

.rateTitle a{
	color: var(--primary);
}

.oldPrice {
	margin-left: 5px;
}

.tags .category {
	margin: 5px;
}

.actions {
	display: flex;
	gap: 20px;
	align-items: center;
}

.advBlock {
	font-size: 16px;
	line-height: 22px;
}

.advBlock h5 {
	font-weight: 700;
	font-size: 17px;
	margin-bottom: 5px;
}

.advantages, .disadvantages {
	padding-left: 15px;
}

.advantages {
	border-left: 2px solid #1dc37e;
	margin-bottom: 20px;
}

.disadvantages {
	border-left: 2px solid var(--red);
}

.characteristic {
	display: grid;
	line-height: 32px;
	font-size: 16px;
	gap: 10px;
	padding-right: 60px;
	align-items: baseline;
	grid-template-columns: auto 1fr auto;
}

.characteristicName {
	font-weight: 700;
}

.characteristicDots {
	border-bottom: 1px dashed var(--gray-light);
}

@media (max-width: 1300px) {
	.product {
		grid-template-columns:
		70px 30px auto 40px auto 40px 1fr;
		grid-template-areas:
		'logo . title title title title title'
		'logo . tags tags tags tags tags'
		'price price price . credit . rating'
		'priceTitle priceTitle priceTitle . creditTitle . rateTitle'
		'hr hr hr hr hr hr hr'
		'description description description description description description description'
		'features features features features features features features'
		'advBlock advBlock advBlock advBlock advBlock advBlock advBlock'
		'hr2 hr2 hr2 hr2 hr2 hr2 hr2'
		'actions actions actions actions actions actions actions';
	}

	.logo {
		grid-area: logo;
	}

	.title {
		grid-area: title;
	}

	.price {
		grid-area: price;
	}

	.tags {
		grid-area: tags;
	}

	.credit {
		grid-area: credit;
	}

	.rating {
		grid-area: rating;
	}

	.priceTitle {
		grid-area: priceTitle;
	}

	.creditTitle {
		grid-area: creditTitle;
	}

	.rateTitle {
		grid-area: rateTitle;
	}

	.hr {
		grid-area: hr;
	}

	.description {
		grid-area: description;
	}

	.features {
		grid-area: features;
	}

	.advBlock {
		grid-area: advBlock;
	}

	.hr2 {
		grid-area: hr2;
	}

	.actions {
		grid-area: actions;
	}
}

@media screen and (max-width: 640px) {
	.product {
		grid-template-columns:
		70px 30px 1fr;
		grid-template-areas:
		"logo . title"
		"logo . tags"
		"priceTitle priceTitle price"
		"creditTitle creditTitle credit"
		"rateTitle rateTitle rating"
		"hr hr hr"
		"description description description"
		"features features features"
		"advBlock advBlock advBlock"
		"hr2 hr2 hr2"
		"actions actions actions";
	}

	.price {
		margin-bottom: 10px;
	}

	.credit {
		margin-bottom: 10px;
	}

	.characteristic {
		padding-right: 0;
	}

	.rating {
		margin-bottom: 10px;
	}

	.features {
		margin-bottom: 15px;
	}

	.tags {
		margin-bottom: 15px;
	}

	.category {
		margin: 5px 5px 5px 0 !important;
	}
}


@media screen and (max-width: 480px) {
	.product {
		grid-template-columns: 1fr;
		grid-template-areas:
		"logo"
		"title"
		"tags"
		"price"
		"priceTitle"
		"credit"
		"creditTitle"
		"rating"
		"rateTitle"
		"hr"
		"description"
		"features"
		"advBlock"
		"hr2"
		"actions";
	}


	.actions {
		justify-content: space-between;
	}

	.logo {
		margin-bottom: 15px;
	}

	.rating, .credit, .price {
		margin-bottom: 0;
	}

	.priceTitle, .creditTitle {
		margin-bottom: 15px;
	}
}

/*/////////////////  REVIEWS   /////////////////////*/

.reviews {
	padding: 30px;
}

