.firstLevel {
	display: grid;
	grid-template-columns: 24px 1fr;
	gap: 20px 20px;
	align-items: center;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	color: var(--black);
	margin-top: 20px;
}

.firstLevel svg {
	font-size: 24px;
}

.firstLevelActive,
.firstLevel:hover,
.firstLevelActive svg {
	color: var(--primary);
}

.secondBlock {
	margin: 15px 0 0 12px;
	padding-left: 32px;
	border-left: 1px solid #DFDFDF;
}

.secondLevel {
	margin-bottom: 10px;
	outline-offset: 1px;
	cursor: pointer;
	outline-color: var(--primary);
	text-transform: uppercase;
	color: var(--gray-dark);
	font-weight: 300;
	font-size: 12px;
	line-height: 16px;
}

.secondLevelBlock {
	padding-left: 1rem;
	border-left: 1px solid #DFDFDF;
	overflow: hidden;
}

.thirdLevel {
	cursor: pointer;
	outline-color: var(--primary);
	color: var(--gray-dark);
	font-size: 14px;
	font-weight: 500;
	line-height: 19px;
	display: block;
}

.thirdLevel:hover,
.thirdLevelActive {
	color: var(--primary);
}
